*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-image: url("../img/bg1.jpeg");
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.todo-container{
  max-width: 700px;
  margin: 3rem auto;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  backdrop-filter: blur(20px);
}
.todo-container > header{
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}


#todo-form, #edit-form{
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
#todo-form > p, #edit-form > p{
  margin-bottom: .5rem;
  font-weight: bold;
} 
.form-control{
  display: flex;
}
.form-control > input{
  margin-right: .3rem;
}
#cancel-edit-btn{
  margin-top: 1rem;
  color: #000;
}

#toolbar{
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}
#toolbar > h4{
  margin-bottom: .5rem;
}
#search{
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}
#search > form{
  display: flex;
}
#serach > input{
  width: 100%;
  margin-right: 3rem;
}


#filter{
  width: 35%;
  display: flex;
  flex-direction: column;
}

#btn1{
  border: 2px solid #000;
}
button{
  background-color: white;
  color: #fff;
  border: 0.5px solid #000;
  padding: .3rem .6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  border-radius: 10px;
}

button:hover{
  transform: scale(1.05);
}
button:hover > i{
  color: black;
}

botton > i{
  color: #224b20;
  font-weight: bold;
  pointer-events: none;
}

input,
select{
  padding: 0.25rem 0.5rem;
}
.hide{
  display: none;
}


.todo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 2s;
  margin-top: 3px;
}
.todo > h3{
  flex: 1;
  font-size: .9rem;
  color:#fff;
  text-shadow: 0px 0px 13px#00000062;
}
.todo > button{
  margin-left: .1rem;
}
.done{
  background-color: #224b20;
  border-radius: 8px;
}
.done > h3{
  color: #ffffff;
  text-decoration: line-through;
  font-style: italic;
}

#todo-input{
  border-radius: 15px;
  text-align: center;
}

h1{
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.26);
}

footer{
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
footer > p > a{
  color: #fff;
}
footer > p:hover{
  transform: scale(1.02);
}
